.app {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER */
header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/header.png);
  background-repeat: no-repeat;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  margin: 0 0.5rem;
  padding: 1rem;
  color: #fff;
}

/* GENERAL */
a {
  text-decoration: none;
}

a:hover {
  color: #d69464;
}

h1 {
  color: #FFFFFF;
  text-shadow: 0px 19px 3px rgba(0, 0, 0, 0.35);
}

img {
  border-radius: 3px;
}

/* COMPOSER */
.composer-container {
  display: flex;
  color: #FFFFFF;
}

.composer-content {
  width: 97vw;
  display: flex;
  justify-content: space-between;
}

.content-info {
  text-align: center;
  height: 25vh;
}

.content-info h2 {
  font-size: 3.5em;
}

.content-info h3 {
  font-size: 2.5em;
}