.app {
  max-width: 1400px;
  margin: 0 auto;
}

/* HEADER */
header {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/header.png);
  background-repeat: no-repeat;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  margin: 0 0.5rem;
  padding: 1rem;
  color: #fff;
}

/* GENERAL */
a {
  text-decoration: none;
}

a:hover {
  color: #d69464;
}

h1 {
  color: #FFFFFF;
  text-shadow: 0px 19px 3px rgba(0, 0, 0, 0.35);
}

img {
  border-radius: 3px;
}

.page {
  text-align: center;
  color: #fff;
}

.home {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.3rem;
}

.content__link {
  margin-top: 2rem;
  color: #fff;
}

/* COMPOSER */
.composer-container {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.composer-content {
  max-width: 95vw;
  height: calc(100vh - 220px);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.content-info {
  text-align: center;
  height: 25vh;
}

.content-info h2 {
  font-size: 3.5em;
}

.content-info h3 {
  font-size: 2.5em;
}

.composer-content__portrait {
  align-self: flex-end;
}

.composer-img {
  align-self: flex-end;
}

/* PLAYER */
.player {
  height: 12vh;
  margin-top: -0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1c1c;
}

audio {
  width: 50vw;
  margin: 0 auto;
}


.container-gem__img {
  animation: swing 3.5s ease-in-out forwards infinite;
}

/* specific */
.big {
  font-size: 3em;
  color: #f7cba28f;
}

.accent {
  font-size: 1.5em;
  color: #f8dcc2;
}

@keyframes swing {

  0%,
  10% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(3deg);
  }
}